<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Project</title>
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="/home">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">About the Project</a></li>
                <li><a href="/aboutus">About Us</a></li>
            </ul>
        </div><!-- /.container-fluid -->
    </nav>
    <div class="page-header" id="heading">
        <h1>Our Project</h1>
        <h2 id="heading">Making sure everyone knows the feel.</h2>
    </div>
    <div class="container">
        <div class="well well-lg">
            <p>What do you get when you put a computer scientist, engineer and neuroscientist together? </p>
            <p>A really bizarre cue for a joke and a solution to help <strong>bridge a gap in services for kids with autism.</strong></p>
            <p>For individuals with autism spectrum disorders, it can be very challenging to navigate the feelings of others. The ability to <strong>identify and respond to emotional cues</strong> from other people is integral in forming relationships. Resources already attempt to address this, however, as with many services for mental health, <strong> the global demand is much greater than supply. </strong></p>
            <p>Globally, limited access to behavioural therapy and other support services leads to a strain on both healthcare systems and on parents of children; that's where our app comes in. Requiring nothing more than an Internet connection, <span id="title">I Know That Feel</span> is a <strong>free resource</strong> that aims to address these issues through <strong>interactive and engaging early intervention.</strong></p>
            <p> The website allows users to learn to identify and mimic emotional responses by playing two types of games. The website is divided into two sections: one where children may play the game and the other for parents, where they may monitor their children's scores over time. Its <strong>simplistic format and reliance on visuals</strong> makes it easy to use for children who may be overwhelmed by visual/auditory stimuli or have difficulties reading, and it requires a very short time commitment, with one round having 10 rounds of guessing or mimicking a series of basic emotions.</p>
            <p> With this project, we hope to increase the availability and accessibility of autism services, giving parents, guardians, and educators an innovative resource to meet the increasing need to teach and reinforce emotional awareness for kids - in a fun and novel way! </p> 
        </div>
    </div>

