<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Game {{ count }}</title>
	<link rel="stylesheet" type="text/css" href="/static/content/site.css" />
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
</head>

<body>
    <div class="container" id="main">
        <h1>Game {{ count }}</h1>
        <h2>Show us the feeling: {{ emotion }}</h2>
        <div class="photo"> 
            <p id="feedback"></p>
            <canvas id="canvas" style="display:none;"></canvas>
            <img id="photo" style="display:none;" src="" />
        </div>
        <div id="buttons">
            <a class="btn btn-default" id="next-level" href="/game?count={{ count + 1 }}">Next level</a>
         </div>
        <div class="video">
        	<video id="webcam" width="400" height="300"></video>
        </div>
        <div class="buttons">
            <button class="btn btn-default" id="take-picture" onclick="takePicture()">Take photo</button>
        </div>
    </div>
</body>

<script type="text/javascript">
    var width = 400;
    var height = 0;

    var video = document.getElementById("webcam");
    var canvas = document.getElementById("canvas");
    var image = document.getElementById("photo");
    var button = document.getElementById("take-picture");

    var streaming = false;
    var localMediaStream = null;

    window.onload = startWebcam();

    function startWebcam() {
        navigator.getUserMedia = (navigator.getUserMedia ||
                                  navigator.webkitGetUserMedia ||
                                  navigator.mozGetUserMedia ||
                                  navigator.msGetUserMedia);

        if (navigator.getUserMedia) {
            navigator.getUserMedia(
                { video:true, audio:false },

                function(stream) {
                    var windowUrl = window.URL || window.webkitURL;
                    video.src = windowUrl.createObjectURL(stream);
                    localMediaStream = stream;
                    video.play();
                },
                
                function(error) {
                    alert("There was an error accessing your webcam: " + error);
                });

            video.addEventListener("canplay", function(ev){
                if (!streaming) {
                    height = video.videoHeight / (video.videoWidth/width);

                    if (isNaN(height)) {
                        height = width / (4/3);
                    }

                    video.width = width;
                    video.height = height;
                    canvas.width = width;
                    canvas.height = height;
                    streaming = true;
                }
            }, false);
        } else {
            alert("getUserMedia() is not supported in your browser");
        }
    }

    function takePicture() {
        var context = canvas.getContext("2d");
        context.drawImage(video, 0, 0, width, height);
        var photoUrl = canvas.toDataURL("image/png");
        photo.src = photoUrl;
        
        photo.style.display = "inline";
        video.style.display = "none";
        button.style.display = "none";

        var url = "/indico"
        var params = {
            gameCount : {{ count }},
            emotion : "{{ emotion }}",
            photoUrl: photoUrl,
        }

        $.post(url, params)
          .done(function(data) {
            $("#feedback").text(data["feedback"]);
            video.style.display = "inline";
            button.style.display = "inline";
        });       
    };
</script>

