<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css" />
</head>

<body>
    <h1>{{ title }}</h1>
    <p>Welcome to our app!</p>
    {% if not session.logged_in %}
      <a href="{{ url_for('login') }}">log in</a>
      <a href="{{url_for('new_user')}}">make new user</a>
    {% else %}
      <a href="{{ url_for('logout') }}">logout</a>
    {% endif %}
</body>
