<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Stats</title>
	<link rel="stylesheet" type="text/css" href="/static/content/site.css" />
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
</head>
<body>

  <div class="page-header" id="heading">
      <h1>Tracking my Effectiveness<h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img id="graph" src="../static/content/graph.png" alt="User Evolvement Chart">
      </div>
      <div class="col-md-6">
        <div class="row">
          <a class="btn btn-default btn-lg" href="/game?count=1">Play Game 1</a>
          <a class="btn btn-default btn-lg" href="/home">Go Home</a>
        </div>
        <div class="row">
          <a class="btn btn-default btn-lg" href="/identifygame?count=1">Play Game 2</a>
          <a class="btn btn-default btn-lg" href="/logout">Log Out</a>
        </div>
      </div>
    </div>
  </div>
</body>
