body { 
	background: url("background.jpg") center fixed;
	background-size: cover;
	text-align: center;
}

.btn-default.btn-lg {
	width: 30%;
    padding: 18px 28px;
    margin-bottom: 15px;
    font-size: 1.5em;
    border-radius: 8px;
    background-color: #486EE0;	
    color: white;
	font-family: 'Raleway', sans-serif;
}

.navbar .container-fluid {
	background-color: #486EE0;
	opacity: 0.7;
}

.navbar-nav a {
	color: white !important;
	font-family: 'Raleway', sans-serif;
}

.page-header#heading {
	padding: 1em;
	color: #1F3A93;
	margin-bottom: 3em;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

.page-header#heading-no-nav {
	color: #1F3A93;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

#heading h1, #heading-no-nav h1 {
	font-size: 3.5em;
}

span#emotion {
	color: #F5CD2D;
}

.alert {
	display: inline-block;
	font-family: 'Raleway', sans-serif;
}

.well {
	font-family: 'Raleway', sans-serif;
	font-size: 1.25em;
	opacity: 0.9;	
}

span#title {
	color: #1F3A93;
}

.page-header h2#heading {
	color: white;
	opacity: 0.9;
}

.container {
	font-family: 'Raleway', sans-serif;
}

.container p {
	font-size: 1em;
	color: black;
}

h3.name {
	color: #486EE0;
	font-weight: bold;
}

h4.university {
	color: #1F3A93;
}
